header {
    
    height: 100px;
    width: 100%;
    margin: 10px 25px 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(47, 90, 69);
    box-shadow: 0 5px 3px #333;
    z-index: 20;
    background-image: url(../imagenes/almendra.png);
    background-repeat: no-repeat;
    background-position: 5px 5px 5px 20px;
}

.nav a {
    transition: all .5s;
    font-size: 30px;
    padding: 10px 50px;
    text-decoration: none;
    color: white
}
.nav a:hover {
    color: black
}
.listap a {
    transition: all .5s;
    text-decoration: none;
    color: white;
}

.listap a:hover {
    color: rgb(245, 17, 233);
}
.inicio {
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    box-shadow: 1 5px;
    background-size: contain;
}

.quienes{
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    box-shadow: 1 5px;
    background-size: contain;
}

.propiedades {
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    box-shadow: 1 5px;
    background-size: contain;
}

.productos {
    
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    box-shadow: 1 5px;
    background-size: contain;
}

body {
    text-align: center;
    background: rgb(52, 116, 71);
    background-size: cover;
    background-repeat: no-repeat;
}
.pie {
    clear: both;
    padding: 20px;
    border-top: 2px solid #999999;
    text-align: center;
}



.redes a {
    transition: all .5s;
    font-size: 30px;
    padding: 10px 50px;
    text-decoration: none;
    color: white
}

.redes a:hover {
    color:#333
}

.listap {
    background: rgb(65, 161, 140);
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}